/* Media query: Small devices (640px) */
@media (max-width: 640px) {
   
  }
  
  /* Media query: Medium devices (768px) */
  @media (min-width: 641px) and (max-width: 768px) {
   
  }
  
  /* Media query: Large devices (1024px) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .nav-container {
        justify-content: space-around; /* Adjust spacing between logo and nav items */
      }
      .logo-img {
        max-width: 150px; /* Limit the max width of the logo */
        height: auto; /* Keep the aspect ratio */
      }
  }
  
  /* Media query: Extra large devices (1280px) */
  @media (min-width: 1025px) {
   
  }
  
  /* Media query: Super large screens (1536px) */
  @media (min-width: 1281px) {
    
  }