@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
/* 
  .animate-scroll {
    display: flex;
    width: 200%; 
    animation: scroll 20s linear infinite;
  } */

  .animate-scroll {
    display: flex;
    width: max-content; /* Adjusts width dynamically */
    animation: scroll 20s linear infinite;
    gap: 1rem; /* Space between images */
}

  /* Change the color of the right arrow */
.swiper-button-next {
  color: #bbbcbd; /* Gray color */
  font-size: 12px; /* Reduce arrow size */

}

/* Change the color of the left arrow */
.swiper-button-prev {
  color: #bbbcbd; /* Gray color */
  font-size: 12px; /* Reduce arrow size */

}

@media (max-width: 640px) {
  .content-b-image {
    padding-top: 88px;
  }
}

/* Apply the same animation-duration for all screens up to 1024px */
@media (max-width: 1024px) {
  .animate-scroll {
    animation-duration: 12s;
  }
}
