@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  .animate-scroll {
    display: flex;
    width: 200%; /* Enough space for duplicate logos */
    animation: scroll 20s linear infinite;
  }

  

  @media (max-width: 640px) {
    .content-b-image{
      margin-top: 45px;
    }
  }
  
  /* Media query: Medium devices (768px) */
  @media (min-width: 641px) and (max-width: 768px) {
   
  }
  
  /* Media query: Large devices (1024px) */
  @media (min-width: 769px) and (max-width: 1024px) {
   
  }
  
  /* Media query: Extra large devices (1280px) */
  @media (min-width: 1025px) {
   
  }
  
  /* Media query: Super large screens (1536px) */
  @media (min-width: 1281px) {
    
  }