.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.App > *:not(footer) {
  flex: 1;
}
.content {
  flex: 1;
}

