@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  margin: 0;
  height:"100%";
  overflow-x: hidden;
  font-family: 'Poppins', 'Inter', 'Work Sans', 'Gorditas', sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
